{%extends 'base.html'%}

{% block head %}
<title>Home</title>

{% endblock%}

{% block body %}
<h1>Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p> Welcome to the Personal Info where in you can see or post your personal info and get into touch with other</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to main post page &raquo;</a>
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock%} 